[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
python-jobspy = "*"
pandas = "*"
beautifulsoup4 = "*"
requests = "*"
curl-cffi = "*"

[requires]
python_version = "3.12"
